.nft-info {
  margin: 0 auto;
  justify-content: center;
}

.nft-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.available-ids {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 900;
  font-family: 'Mont';
  font-size: 36px;
  color: #0D0F08;
  margin:50px 0 20px 0;
}

.mint-button-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width:800px;
  max-width: 100%;
  max-height:350px;
  overflow-y: scroll;
  margin: 0px auto;
}
.mint-button-list::-webkit-scrollbar {
  width: 20px;
}
.mint-button-list::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.mint-button-list::-webkit-scrollbar-thumb {
  background-color: #0d0f08;
}
.id-filter{
  text-align:center;
  margin:20px 0 40px 0;
}
.id-filter button{
  background-color:#F3F3F3;
  border: none;
  cursor:pointer;
  padding:12px 24px;
  margin:0px 5px;
  border-radius:5px;
}
