.nft-info {
  margin: 0 auto;
  justify-content: center;
}

.nft-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.available-ids {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 43px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0D0F08;
  margin: 10px;
}

.mint-button-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width:650px;
  height:350px;
  overflow-y: scroll;
  margin: 0px auto;
}
.mint-button-list::-webkit-scrollbar {
  width: 20px;
}
.mint-button-list::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.mint-button-list::-webkit-scrollbar-thumb {
  background-color: #0d0f08;
}
