.label {
  margin:30px 0 5px 0;
}

.upload-file {
  cursor: pointer;
  background:#F3F3F3;
}

.upload-file:hover {
  background: #f9f9f9;
}

.input {
  display:none;
}

.filename {
  margin:10px 0 30px 0;
}
