.header {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  /* padding: 24px 111px; */
  /* gap: 684px; */

  width: 100vw;
  height: 108px;
  padding: 0px 50px;

  /* Shades/Dark-15% */

  border-bottom: 1px solid #DBDBDA;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title {
  color: black;
  text-align: center;
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}

.wallet-button {
  position: absolute;
  right: 10px;
}
