.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100vw;
  max-width:1400px;
  height: 90px;
  padding: 0px 25px;
  border-bottom: 1px solid #F3F3F3;
  margin:0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    height:75px;
  }
}
