.wrapper{
  max-width: 100vw;
}

.nft-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

.nft-card {
  margin: 10px;
  line-height: 180px;
  text-align: center;
}

.img-cover img{
  width:100%;
  height:250px;
  object-fit: cover;
}
.container{
  margin-top:-120px;
}
.container-left{
  float:left;
  width:65%;
}
.container-right{
  float:right;
  width:30%;
}
.img-icon{
  width:160px;
  height:160px;
}
.img-icon img{
  border-radius:100%;
  width:100%;
  height:100%;
  border: 5px solid #fff;
}
.name{
  font-size:32px;
  color: #0D0F08;
  margin:5px 0;
  font-family:"Mont";
}
.description{
  margin:20px 0;
}
.socials{
  width:100%;
  float:right;
}
.socials a{
  width:22px;
  float:left;
  margin:0 10px;
  display:block;
}
.socials a img{
  width:100%;
}
.edit-button{
  float:left;
  margin:15px 0;
  width:100%;
  text-align:left;
}
.edit-button button{
  background-color:#ffffff;
  color:#605e67;
  padding:10px;
  border-radius:10px;
  border-width:1px;
  cursor:pointer;
}
.cntents-label{
  font-family: 'Mont';
  font-style: normal;
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
  margin: 50px 0px 0px 0px;
  float:left;
}

@media screen and (max-width: 768px) {
  .img-icon{
    margin:0 auto;
    text-align:center;
  }
  .description{
    padding:0 20px;
  }
  .container-left{
    float:none;
    width:100%;
    text-align:center;
  }
  .container-right{
    float:none;
    width:100%;
  }
  .collected, .created{
    text-align:center;
  }
  .collected .cntents-label, .created .cntents-label{
    float:none;
    margin-top:80px;
  }
  .socials{
    width:170px;
    margin:0 auto;
    float:none;
  }
  .edit-button{
    text-align:center;
  }
}
