.nft-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  /* padding-top: 40px; */
}

.nft-card {
  /* width: 20%; */
  margin: 10px;
  line-height: 180px;
  text-align: center;
}

.img-cover img{
  width:100vw;
  height:250px;
  object-fit: cover;
}
.container{
  margin-top:-170px;
}
.container-left{
  float:left;
  width:65%;
}
.container-right{
  float:right;
  width:30%;
}
.img-icon{
  width:250px;
}
.img-icon img{
  border-radius:100%;
  width:160px;
  border: 5px solid #fff;
}
.name{
  font-size:32px;
  color: #0D0F08;
  margin:5px 0;
  font-family:"Mont";
}
.description{
  margin:20px 0;
}
.socials{
  width:100%;
  float:left;
}
.socials a{
  width:22px;
  float:left;
  margin:0 10px;
  display:block;
}
.socials a img{
  width:100%;
}
.edit-button{
  float:left;
  margin-top:15px;
}
.edit-button button{
  background-color:#ffffff;
  color:#605e67;
  padding:10px;
  border-radius:10px;
  border-width:1px;
  cursor:pointer;
}
.cntents-label{
  font-family: 'Mont';
  font-style: normal;
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
  margin: 50px 0px 0px 0px;
  float:left;
}
