@font-face {
  font-family: 'Glacial Indifference';
  src: url('../assets/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype'),
    url('../assets/glacial-indifference/GlacialIndifference-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/Mont/Web\ Fonts/mont_regular_macroman/mont-regular-webfont.woff2') format('woff2'),
    url('../assets/Mont/Web\ Fonts/mont_regular_macroman/mont-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Glacial Indifference','Roboto';
  font-size:16px;
  font-weight:400;
  color:#605e67;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

main{
  width:1070px;
  max-width:100%;
  margin:20px auto;
  min-height:100vh;
  clear:both;
}

button{
  color: #605e67;
  cursor:pointer;
}

label{
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input,textarea{
  color:#605e67;
}

input[type="file"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: relative;
  /* background: #FFFFFF; */
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
