@font-face {
  /* font-family: 'GlacialIndifference-Regular'; */
  font-family: 'Glacial Indifference';
  src: url('../assets/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: url('../assets/glacial-indifference/GlacialIndifference-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/mont_regular_macroman/mont-regular-webfont.woff2') format('woff2'),
    url('../assets/mont_regular_macroman/mont-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'GlacialIndifference-Regular';'Roboto'
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://uploads-ssl.webflow.com/623b48aca4d6403c00f8c106/645ffc858d05c01821424162_background.png');
}

main{
  width:1070px;
  max-width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: relative;
  /* background: #FFFFFF; */
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
