.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 40px 0;
  width: calc(33.3333% - 30px);
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  cursor: pointer;
}

.nft-image-wrapper {
  width: 326.66px;
  height: 326.66px;
  overflow: hidden;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
}

.nft-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}

.nft-details {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width:100%;
}

.nft-name {
  font-family: 'Mont';
  font-size: 24px;
  color: #0D0F08;
  margin-bottom:10px;
}

.sales-info {
  display: flex;
  margin-top: 15px;
}

.sold-for {
  width: 75px;
  text-align: left;
}

.nft-price {
  width: 75px;
  text-align: left;
}

.nft-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nft-creator-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
  border:1px solid #F3F3F3;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width:300px;
    margin: 20px 0px 20px 0px;
  }
  .nft-image-wrapper {
    width: 300px;
    height: 300px;
  }
}
