.wrapper {
  display: block;
  float: left;
  margin: 20px 20px 20px 0px;
  width: 243px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  text-decoration: none;
  cursor: pointer;
}

.nft-image-wrapper {
  width: 243px;
  height: 243px;
  overflow: hidden;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}

.nft-details {
  font-family: 'Mont';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

.nft-name {
  height: 58px;
  font-family: 'Mont';
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
  color: #0D0F08;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.sales-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.sold-for {
  width: 100px;
  height: 22px;
  font-weight: 700;
  line-height: 140%;
  text-align: left;

  color: #605E67;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nft-price {
  width: 89px;
  height: 24px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0.01em;
  color: #605E67;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.nft-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nft-creator-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  object-fit: cover;
}

.nft-creator-name {

}
