.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  width: 100%;
  margin-top:100px;
  text-align: center;
}

.footer a{
  display:block;
  float:left;
  cursor: pointer;
}

.footer-first{
  width:1080px;
  max-width:100%;
  margin:40px 0 0 0;
}

.footer-first .footer-first-links{
  float:right;
}

.footer-first .footer-first-links a{
  margin:0 20px;
}
.footer-first .footer-first-links a:last-child{
  margin-right:0px;
}

.footer-second{
  width:1080px;
  max-width:100%;
  margin:40px 0 40px 0;
}

.footer-second .footer-copyright{
  float:left;
}

.footer-second .footer-social{
  float:right;
}

.footer-second .footer-social a{
  margin:0 10px;
}

.footer-second .footer-social a:last-child{
  margin-right:0px;
}

@media screen and (max-width: 768px) {
  .footer-first .footer-first-links{
    float:none;
  }
  .footer-first .footer-first-links a{
    width:100%;
    margin:10px 0;
  }
  .footer-second{
    margin: 0 0 0 0;
  }
  .footer-second .footer-copyright{
    float:none;
    margin: 20px 0 20px 0;
  }
  .footer-second .footer-social{
    float:none;
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
  }
}
