.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  width: 100%;
  margin-top:100px;
  text-align: center;
  font-style: normal;
  font-size: 18px;
}

.footer a{
  display:block;
  float:left;
  cursor: pointer;
}

.footer-first{
  width:1080px;
  max-width:100%;
  margin:40px 0 0 0;
}

.footer-first-links{
  float:right;
}

.footer-first a{
  margin:0 20px;
}
.footer-first a:last-child{
  margin-right:0px;
}

.footer-second{
  width:1080px;
  max-width:100%;
  margin:40px 0 40px 0;
}

.footer-copyright{
  float:left;
}

.footer-social{
  float:right;
}

.footer-social a{
  margin:0 10px;
}

.footer-social a:last-child{
  margin-right:0px;
}
