.top{
  position: relative;
  width: 100vw;
  background-color: #fafafa;
  height: calc(100vh - 90px);
  min-height: calc(100% - 90px);
  margin-top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.top-box{
  width: 1070px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-title {
  font-family: 'Mont';
  color: #0D0F08;
  font-style: italic;
}

.top-title p {
  font-size: 80px;
  margin: 0;
}

.top-title .top-title-opposite {
  background-color: #0D0F08;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 30px;
  display: inline-block;
  transform: skewX(-14deg);
}

.top-title .top-title-opposite span {
  display: block;
  transform: skewX(14deg);
}

.top-title p:nth-child(2) {
  padding-left:50px;
}

.top-title p:nth-child(3) {
  padding-left:100px;
}

.top-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-image button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.top-image button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.top-image button:first-child {
  left: 0;
}

.top-image button:last-child {
  right: 0;
}

.top-image img{
  width:450px;
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.title {
  font-family: 'Mont';
  font-style: normal;
  font-size: 32px;
  color: #0D0F08;
  margin:75px 0 25px 0;
}

.how-wrapper{
  display:flex;
  flex-flow: row wrap;
  flex-wrap:nowrap;
  overflow-x: auto;
  cursor: grab;
}

.how-wrapper:active{
  cursor: grabbing;
}

.how-box {
  flex: 0 0 auto;
  margin: 0px 60px 60px 0px;
  width: 350px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
}

.how-image{
  width:100%;
}

.how-text{
  padding:20px;
  display: flex;
  flex-flow: row;
}

.how-title{
  font-family: 'Mont';
  color: #0D0F08;
  margin:0;
  font-size: 20px;
  text-align: left;
}

.how-details{
  display: flex;
  flex-flow: column wrap;
}

.how-number{
  font-family: 'Mont';
  color: #0D0F08;
  font-size:48px;
  margin: 0 20px 0 0;
}

.how-description{
  margin:5px 0 0 0;
}

@media screen and (max-width: 768px) {
  .top{
    height:100%;
    padding-bottom:30px;
  }
  .top-box{
  flex-direction: column;
  align-items: flex-start;
  width:100%;
  height:auto;
}

.top-title {
  width:100%;
  text-align:center;
  margin:55px 0 40px 0;
}

.top-title p {
  font-size:48px;
  margin-bottom:10px;
}
.top-title p:nth-child(2) {
  padding-left:0px;
}
.top-title p:nth-child(3) {
  padding-left:0px;
}

.top-image {
  align-self: center;
}

.top-image img{
  width:250px;
}

  .title {
    text-align:center;
    font-size:30px;
  }

  .main-box{
    text-align:center;
    padding: 10px 0;
    width:100%;
    left:0px;
  }

  .main-title{
    font-size: 24px;
  }

  .main-description{
    font-size: 14px;
    margin-top:8px;
  }
  .how-wrapper{
    flex-flow: row wrap;
    overflow-x: auto;
    justify-content: center;
  }
  .how-box{
    margin: 0px 0px 60px 0px;
    width:300px;
    max-width:100%;
  }
}
