.main{
  height:95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-title{
  font-family: 'Mont';
  font-style: normal;
  font-size: 56px;
  line-height: 120%;
  color: #0D0F08;
  width:500px;
}

.title {
  font-family: 'Mont';
  font-style: normal;
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .title {
    text-align:center;
  }
  .main-title{
    font-size:36px;
    text-align:center;
  }
}
