.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  margin-right: 10px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #000;
}

.menu-links {
  display: flex;
  gap: 48px;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  width:auto;
  z-index:1;
}

.menu-links.open {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .line {
    background-color: #000;
  }
  .menu-links {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top:120px;
    align-items: center;
  }
  .menu-links.open {
    transform: translateX(0);
  }
}
