.wrapper {
  display: flex;
  flex-direction: row;
  width:100%;
  margin-top:100px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  overflow: hidden;
}
.info {
  margin-left:64px;
}

.name {
  font-family: 'Mont';
  margin:48px 0 16px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  color: #0D0F08;
}

.creator {
  font-weight: 700;
  font-size: 18px;
  margin-bottom:12px;
  letter-spacing: 0.01em;
  color: #0D0F08;
}

.price {
  display: flex;
  flex-direction: row;
}

.price-prefix {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #605E67;
}

.price-content {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  color: #0D0F08;
}

.description {
  margin: 0;
}

.description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #605E67;
}
