.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sub-contents {
  display: flex;
  flex-direction: column;
}

.sub-contents-wrapper {
  /* width: 150px; */
  /* width: 120px; */
  /* height: 90px; */
  /* border: 1px solid black; */
  /* border-radius: 5px; */
}

/* .video {
  width: 100%;
  height: 100%;
} */

.info {
  margin-left: 64px;
}

.name {
  font-family: 'Mont';
  margin: 48px 0 16px 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  color: #0D0F08;
}

.creator {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
  letter-spacing: 0.01em;
  color: #0D0F08;
}

.price {
  display: flex;
  flex-direction: row;
}

.price-prefix {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #605E67;
}

.price-content {
  font-family: 'Mont';
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  color: #0D0F08;
}

.description {
  margin: 0;
}

.description-text {
  font-size: 18px;
  line-height: 150%;
  color: #605E67;
}