.title {
  font-family: 'Mont';
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.left{
  float:left;
  width:500px;
}
.right{
  float:left;
  width:250px;
  margin-left:50px;
}
.clear{
  clear:both;
}
.img-cover img{
  width:100%;
  max-width:300px;
}
.img-icon img{
  width:100%;
  max-width:150px;
}

.nft-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

.twitter{
  position:relative;
}
.twitter input{
  padding-left:98px;
}
.twitter .twitter-text{
  position:absolute;
  top: 22px;
  left: 16px;
}

.instagram{
  position:relative;
}
.instagram input{
  padding-left:122px;
}
.instagram .instagram-text{
  position:absolute;
  top: 22px;
  left: 16px;
}
.nft-card {
  margin: 10px;
  line-height: 180px;
  text-align: center;
}
.back-btn{
  background-color: #F3F3F3;
  color:#605e67;
  border: none;
  padding: 18px 36px;
  margin: 50px 30px 50px 0px;
  border-radius: 5px;
}
.update-btn{
  background-color: #000000;
  color:#ffffff;
  border: none;
  padding: 18px 36px;
  margin: 50px 5px;
  border-radius: 5px;
}
