.nft-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  /* padding-top: 40px; */
}

.nft-card {
  /* width: 20%; */
  margin: 10px;
  line-height: 180px;
  text-align: center;
}
