.title {
  font-family: 'Mont';
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
}

.left {
  float: left;
  width: 500px;
  max-width:100%;
}

.right {
  float: left;
  width: 250px;
  max-width:100%;
  margin-left: 50px;
}

.clear {
  clear: both;
}

.img-cover img {
  width: 100%;
  max-width: 300px;
}

.img-icon img {
  width: 100%;
  max-width: 150px;
  border-radius:50%;
}

.nft-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

.twitter {
  position: relative;
}

.twitter input {
  padding-left: 100px;
}

.twitter .twitter-text {
  position: absolute;
  top: 22px;
  left: 16px;
}

.instagram {
  position: relative;
}

.instagram input {
  padding-left: 125px;
}

.instagram .instagram-text {
  position: absolute;
  top: 22px;
  left: 16px;
}

.nft-card {
  margin: 10px;
  line-height: 180px;
  text-align: center;
}

.btn button{
  border: none;
  padding: 18px 36px;
  border-radius: 5px;
  margin-top:50px;
  margin-bottom:50px;
}

.back-btn {
  background-color: #F3F3F3;
  color: #605e67;
  margin-right:20px;
}

.update-btn {
  background-color: #000000;
  color: #ffffff;
}

.status {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .title {
    text-align:center;
  }
  .left {
    width:calc(100% - 100px);
    margin: 0 auto;
    text-align:center;
    float:none;
  }
  .right {
    width:calc(100% - 100px);
    margin: 0 auto;
    text-align:center;
    float:none;
  }
  .btn{
    text-align:center;
  }

}
