.title {
  font-family: 'Mont';
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.message {
  font-size: 18px;
  line-height: 150%;
  color: #605E67;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.form-left{
  float:left;
  width:450px;
}
.form-right{
  float:left;
  width:250px;
  margin-left:100px;
}
.form-right > div{
  margin-bottom:30px;
}
.form-row {
  clear:both;
}

.name-and-description {
  width: 100%;
  float:left;
}

.animation-and-glbs-uploader {
  display: block;
  clear:both;
}
.animation-and-glbs-uploader > div{
  width:30%;
  float:left;
}
.animation-and-glbs-uploader > div input{
  box-shadow: 0 0 0 1px #ccc inset;
  padding:12px;
  width:100%;
  border-radius: 4px;
  cursor:pointer;
}
.price-and-supply {
  display: block;
}
.price-and-supply > div {
  float:left;
}

.price-and-supply > div:first-child {
  width:45%;
  margin-right:5%;
}
.price-and-supply > div:nth-child(2){
  width:45%;
}

.button-box{
  text-align:center;
}
.button{
  background-color: #000000;
  color:#ffffff;
  border: none;
  padding: 18px 36px;
  margin: 50px 5px;
  border-radius: 5px;
}
.button-disabled {
  color:#605E67;
  cursor: not-allowed;
  background-color: #dddddd;
  border-color: #dddddd;
}
