.wrapper{
  max-width:710px;
  margin:50px auto 0 auto;
}
.title {
  font-family: 'Mont';
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
}

.message {
  font-size: 16px;
  margin-top:8px;
  color: #605E67;
}

.form-left {
  float: left;
  width: 350px;
}

.form-right {
  float: left;
  width: 250px;
  margin-left: 100px;
}

.form-right>div {
  margin-bottom: 30px;
}

.form-row {
  clear: both;
}

.name-and-description {
  width: 100%;
  float: left;
}

.animation-and-glbs-uploader {
  display: block;
  clear: both;
}

.animation-and-glbs-uploader>div {
  width: 30%;
  float: left;
}

.animation-and-glbs-uploader>div input {
  box-shadow: 0 0 0 1px #ccc inset;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.price-and-supply {
  display: block;
}

.price-and-supply>div {
  float: left;
}

.price-and-supply>div:first-child {
  width: 45%;
  margin-right: 5%;
}

.price-and-supply>div:nth-child(2) {
  width: 45%;
}

.button-box {
  text-align: left;
}

.button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 18px 36px;
  margin: 50px 5px;
  border-radius: 5px;
}

.button-disabled {
  color: #605E67;
  cursor: not-allowed;
  background-color: #dddddd;
  border-color: #dddddd;
}

.status {
  font-family: 'Mont';
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title,.message,.button-box {
    text-align:center;
  }
  .form-left{
    float:none;
    width:calc(100% - 100px);
    margin: 0 auto;
    text-align:center;
  }
  .form-right {
    float:none;
    width:calc(100% - 100px);
    margin: 0 auto;
  }
  .price-and-supply{
    padding-top:10px;
  }
  .price-and-supply>div {
    float: none;
  }
  .price-and-supply>div:first-child {
    width: 100%;
  }
  .price-and-supply>div:nth-child(2) {
    width: 100%;
  }
}
