.title {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  color: #0D0F08;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.message {
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #605E67;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.form-row {
  display: flex;
  justify-content: center;
}

.name-and-description {
  width: 320px;
}

.image-uploader {
  width: 320px;
}

.animation-and-glbs-uploader {
  display: flex;
  justify-content: center;
  width: 640px;
}

.price-and-supply {
  display: flex;
  justify-content: center;
  width: 640px;
}

.clear-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 160px;
  height: 40px;
  background: #aeaeae;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.create-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 160px;
  height: 40px;
  background: #0D0F08;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-available {
  cursor: pointer;
}

.button-text {
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}