.wrapper {
  width: 400px;
  max-width:100%;
}

.label {
  margin:30px 0 5px 0;
}

.uploader {
  width: 300px;
  margin:0 auto 5px auto;
}

.upload-file {
  cursor: pointer;
  background:#F3F3F3;
}

.upload-file:hover{
  background:#f9f9f9;
}

.input {
  display:none;
}

.filename {
  margin:10px 0 30px 0;
}
