.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

.wrapper::after,
.wrapper::first-line {
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.3333% - 30px);
  visibility: hidden;
}

.nft-card {
  flex: 0 0 calc(33.3333% - 30px);
  margin: 10px;
  line-height: 180px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-flow: column wrap;
    align-items: center;
  }

  .wrapper::before,
  .wrapper::after,
  .wrapper::first-line {
    display: none;
  }
}

.nft-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1400px;
  justify-content: flex-start;
}
.img-cover img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: -110px;
  padding-left:20px;
}

.container-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-low {
  display:flex;
  flex-direction: row;
}

.container-low-left {
  flex-grow: 1;
  text-align: left;
}

.container-low-right {
  text-align: right;
}

.img-icon {
  width: 160px;
  height: 160px;
  margin-bottom:10px;
}

.img-icon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  object-fit: cover;
}

.name {
  font-size: 32px;
  color: #0D0F08;
  font-family: "Mont";
}

.description {
  margin: 20px 0;
}

.socials {
  display: flex;
}

.socials a {
  width: 22px;
  margin: 0 10px;
  display: block;
}

.socials a img {
  width: 100%;
  line-height:32px;
}

.edit-button {
  width: 100%;
  text-align: right;
  margin-top:10px;
}

.edit-button button {
  background-color: #ffffff;
  color: #605e67;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  cursor: pointer;
}

.collected,
.created {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.contents-label {
  font-family: 'Mont';
  font-style: normal;
  font-size: 32px;
  color: #0D0F08;
  margin: 50px 0px 10px 0px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nft-list {
    flex-flow: column wrap;
    align-items: center;
  }

  .img-icon {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .edit-button {
    text-align: center;
  }

  .description {
    padding: 0 25px;
  }

  .container-contents {
    flex-direction: column;
  }

  .container-low{
    flex-direction: column;
  }
  .container-low-left {
    text-align: center;
  }

  .container-low-right {
    text-align: center;
  }

  .collected,
  .created {
    text-align: center;
    padding:0px;
  }

  .collected .contents-label,
  .created .contents-label {
    margin-top: 50px;
  }

  .socials {
    width: 170px;
    margin: 0 auto;
  }
}
